---
layout: page
title: "Hi, I'm Sahil"
subtitle: Android Developer / Dynamic Presenter / Traveller
css: "/css/index.css"
meta-title: "Sahil Midha - Tech Desserts Author & Android Developer. Tech blogs majorly on Android, Java, Data Structures, Algorithms, writing good & beautiful code. Watch out for blogs articles that serve like desserts."
meta-description: "Graduate student with a Bachelor of Technology in Computer Science. Work experience as a Software engineer and Android developer. Do see my projects I have worked on. Blogs that would serve like desserts after your meal, majorly on Android, Java, Data Structures, Algorithms, writing good & beautiful code."
cover-img:
  - "/assets/img/big-imgs/hawaii1.jpeg" : ""
  - "/assets/img/big-imgs/hawaii2.jpeg" : ""
  - "/assets/img/big-imgs/hawaii-turtles.jpg" : ""
  - "/assets/img/big-imgs/laos-pond2.jpeg" : ""
  - "/assets/img/big-imgs/laos-pond1.jpeg" : ""
  - "/assets/img/big-imgs/laos-pond3.jpeg" : ""
  - "/assets/img/big-imgs/vietnam-dunes2.jpeg" : ""
  - "/assets/img/big-imgs/vietnam-ricefield.jpeg" : ""
---

<div class="index-posts-title">Articles served like Desserts</div>
<hr class="small" />
<br/>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
      {{ post.content | strip_html | xml_escape | truncatewords: 50 }}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
